html {
  font-size: 62.5%;
  height: 100%; }

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

body {
  height: 100%;
  padding: 20px 60px;
  background-image: url(./../images/top-background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  font-size: 1.4rem;
  font-family: "Raleway", "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;
  letter-spacing: 1px; }

header .logo a {
  font-size: 2rem;
  text-decoration: none;
  color: white; }

section {
  height: 100%; }
  section .wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 20px 40px; }
    section .wrapper .left {
      width: 50%;
      color: white; }
      section .wrapper .left h2 {
        margin-bottom: 20px;
        font-size: 2.4rem; }
      section .wrapper .left p {
        line-height: 1.5;
        font-size: 1.8rem; }
    section .wrapper .right {
      width: 50%; }
      section .wrapper .right .buttons {
        position: relative; }
        section .wrapper .right .buttons .button {
          position: absolute;
          top: 50%;
          left: 50%;
          -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
          text-align: center;
          text-decoration: none;
          width: 200px;
          height: 50px;
          color: white;
          background-color: #4dd4ff;
          border-radius: 5px;
          padding: 20px;
          margin: 10px;
          letter-spacing: 1px;
          font-size: 1.2rem; }
      section .wrapper .right:hover {
        opacity: 0.9; }
