@charset "UTF-8";

html {
  font-size: 62.5%;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  background: #151515 url("../images/background.jpg") no-repeat bottom fixed;
  background-size: cover;
  color: #fff;
  text-align: center;
  font-size: 1.4rem;
  font-family: "Raleway", "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;
}

.heading {
  font-size: 2.4rem;
  padding-bottom: 12px;
  margin: 30px 0 100px;
  letter-spacing: 2px;
  position: relative;
  display: inline-block;
}

.header {
  padding: 170px 30px 80px;
  .site-title-sub {
    margin: 0 auto 30px;
    letter-spacing: 1px;
    &::before,
    &::after {
      content: "";
      display: inline-block;
      background-color: #fff;
      width: 140px;
      height: 2px;
      vertical-align: middle;
      border: 1px solid;
      margin: 0 30px;
    }
  }
  .site-title {
    font-size: 4rem;
    margin: 40px auto 0;
  }

  .buttons {
    margin: 40px auto 50px;
    .button {
      text-decoration: none;
      display: inline-block;
      width: 200px;
      height: 50px;
      color: white;
      background-color: #ff4de1;
      border-radius: 5px;
      padding: 20px;
      margin: 10px;
      letter-spacing: 1px;
      font-size: 1rem;
      text-align: 50px;

      &:hover {
        opacity: 0.9;
      }
    }
    .button-showy {
      background-color: #4dff4d;
    }
  }
}

.about {
  padding: 50px 30px;
  background-color: black;

  .heading {
    &::before,
    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      /*background-color: white;*/
      border-bottom: 1px solid white;
    }

    &::after {
      bottom: 5px;
    }
  }

  .about-text {
    margin: 0 230px 50px;
    line-height: 2.5;
  }
}

.works {
  padding: 50px 30px;
  .works-text {
    margin: 0 230px 50px;
  }
}

.skills {
  padding: 50px 30px;
  background-color: black;
  .skills-text {
    margin: 0 230px 50px;
    letter-spacing: 1px;
  }
}

.footer {
  font-size: 1rem;
  padding: 20px;
  color: rgba(255, 255, 255, 0.6);
}

@media (max-width: 768px) {
  .site-title-sub::before,
  .site-title-sub::after {
    width: 20px;
    margin: 0 5px;
  }

  .site-title {
    margin-top: 0;
    font-size: 3rem;
  }

  .about-text {
    margin: 0;
    font-size: 1rem;
  }

  .works-text {
    margin: 0;
    font-size: 1rem;
  }

  .skills-text {
    margin: 0;
    font-size: 1rem;
  }

  p.works-text,
  p.skills-text {
    margin-bottom: 50px;
  }

  .footer {
    font-size: 0.8rem;
    color: rgba(255, 255, 255, 0.6);
  }
}
